<!doctype html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" />
  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Import bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
<script src=
"https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
integrity=
"sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
crossorigin="anonymous">
</script>    
<title>
  Agregar un servicio a brindar
</title>
</head>
<body class="otherBodys2">

{% if result %}
    <div id="myAlert" class="alert alert-primary" role="alert">
    <strong style="font-size: 1.25em;">{{result}}</strong><br><br>
    <a href="{{url_for('Index')}}" style="cursor: pointer;"><button type="button" class="btn btn-dark">Volver al inicio</button></a><br>
  </div>
{% endif %}
 {% if result2 == "Inactivo" %}
 <div id="AlertMio" class="alert alert-primary" role="alert">
  <strong style="font-size: 1.25em;">{{alert}}<br><br></strong>
  <form method="POST" action="{{url_for('Add_Service')}}">
    <input name="id_service_recover" value="{{check.id_service}}" type="hidden">
    <input style="margin-right: 100px" class="btn btn-primary btn-lg" type="submit" value="SI">
  </form>
  <a href="{{url_for('Add_Service')}}" style="cursor: pointer"><button style="margin-left: 100px; margin-top: -75px;" type="button" class="btn btn-secondary btn-lg">NO</button></a>
</strong>
</div>
{% endif %}

{% if all_services %}
<input class="form-control" id="myInput" type="text" placeholder="Buscar..">
<br>
<div id=tableHead class="alert alert-info">SERVICIOS EXISTENTES Y ELIMINADOS
  <button id="AddTask" type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#AddService">AGREGAR SERVICIO</button>
</div>
<table class="table table-light" style="align-items: center; text-align: center">
  <thead class="table-dark">
    <tr class="ver">
      <th scope="col"> NOMBRE DEL SERVICIO </th>
      <th scope="col"> DESCRIPCION </th>
    </tr>
  </thead>
  {% for service in all_services %}
  <tbody id="myTable">
    <tr>
      {% if service.still_exist == 1 %}
      <th scope="row" style="vertical-align: middle;"> {{ service.service_name }} </th>
      <th scope="row" style="vertical-align: middle;"> {{ service.description }} </th>
      </tbody>
      {% endif %}
      {% endfor %}
    </table> 
    {% endif %}
    {% if all_services == [] %}
    <div id=tableHead class="alert alert-success"> Aun no has agregado ningun servicio
      <button id="AddTask" type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#AddService">AGREGAR SERVICIO</button>
    </div>
    {% endif %}

    <!-- MODAL FOR ADDING TENANT THING TO PAY -->
    <div class="modal fade bd-example-modal-lg" id="AddService" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">INGRESE UN NUEVO SERVICIO</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col" style="text-align: center;">
                  <form method="POST" action="{{url_for('Add_Service')}}">
                    <li>Nombre servicio</li>
                    <li><input name="new_service_name" required-type="text" placeholder="Nombre servicio" required></li>
                    <li>Descripcion</li>
                    <li><input name="description" required-type="text" placeholder="Descripcion"></li>
                  </div>
                  <div class="modal-footer">
                    <input style="margin-right: 530px; margin-top: 20px;" class="btn btn-primary" type="submit" id="send-signup" name="signup" value="Agregar"/>
                  </form>
                  <button style="margin-right: 40px; margin-top: -50px" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">       
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });

        $(document).ready(function() {
    $('#myAlert').fadeIn();
    setTimeout(function() {
      $('#myAlert').fadeOut();
    }, 5000); // 5 seconds
  });
    </script>
  </body>